<header class="header">
  <nav class="nav-contents">
    <button class="mobile-menu js-mobile-menu">Menu</button>
    <ul class="nav js-nav">
      <li>
        <a href="/#about">About Laura</a>
        </li>
        <li>
          <a href="/#counselling">Counselling</a>
        </li>
        <li>
          <a href="/contact/">Appointments &amp; Contact</a>
        </li>
        <li>
          <a href="/#fees">Fees</a>
        </li>

    </ul>
  </nav>
  <div class="contact-container">
    <a class="contact" href="/contact/">
      Contact Me
    </a>
  </div>
</header>
